<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>
<!--
    <appender name="fileErrLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            只输出ERROR级别日志
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encode class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </encode>
        滚动策略
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            输出路径
            <fileNamePattern>
                d:\xxx\log\generalPack/err.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        如果不配置过滤，默认只输出INFO级别及以上日志
        <encode class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d - %msg%n
            </pattern>
        </encode>
        滚动策略
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            输出路径
            <fileNamePattern>
                d:\xxx\log\generalPack/info.%d.log
            </fileNamePattern>
        </rollingPolicy>
    </appender>
            -->

    <root level="info">
        <appender-ref ref="consoleLog"/>
        <!--文件log配置
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrLog"/>
        -->
    </root>
</configuration>
